<body style="background-color:gray";>

<h1 style="color:pink";"text-align:center";>this is about</h1>

<p style="color:pink";>i will learn this ,and start working !</p>


<%= link_to 'Home', route_path %>

</body>