
<body style="background-color:pink";>
  
  <%= image_tag 'download.jpg' %>

<h1 style="text-align:center";"color:gray";>this is home</h1>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %>

</body>